doctype html
html
  head
    title MetaMask Connection
    script(src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js")
    script(src="../scripts/metamask.js")
    link(rel='stylesheet', href='../stylesheets/style.css')
  body
    
    


    
    block content
