#inputField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}


  
  #walletConnection {
    background-color: blue;
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
  }